.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-item {
    margin: 70px;
    width: calc(20% - 20px);
    position: relative;
}

.create {
    width: 100px;
}

.delete-button {
    font-size: 20px !important;
    line-height: 0 !important;
    background-color: #ff0000 !important;
    color: #fff !important;
    position: absolute;
    top: 5px;
    right: 5px;
}